<tr>
  <td><%= payroll_datum.date.strftime("%B %e, %Y") %></td>
  <td><%= payroll_datum.hours_worked %></td>
  <td><%= payroll_datum.employee_id %></td>
  <td><%= payroll_datum.job_group %></td>
  <td><%= payroll_datum.created_at.strftime("%B %e, %Y") %></td>
  <td><%= payroll_datum.updated_at.strftime("%B %e, %Y") %></td>
</tr>
