<% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %>">
    <%= value %>
  </div>
<% end %>

<br><br>
<table class="responstable">
  <tr>
    <th><%= t('en.payroll_datum.date') %></th>
    <th><%= t('en.payroll_datum.hours_worked') %></th>
    <th><%= t('en.payroll_datum.employee_id') %></th>
    <th><%= t('en.payroll_datum.job_group') %></th>
    <th><%= t('en.payroll_datum.payroll_report_id') %></th>
    <th><%= t('en.payroll_datum.created_at') %></th>
    <th><%= t('en.payroll_datum.updated_at') %></th>
  </tr>
  <%= render @payroll_data %>
</table>
  
